html body{
    width:970px;
    margin:0 auto;
}

#container{
    background-color: black;
}

#header{
    background-color: #EEEEEE;
    padding: 0 30px;
}

#phonenumber{
    font-size: 20px;
    display: inline-block;
    margin-left: 250px;
    vertical-align: 100%;
}

#menubar ul li{
    list-style-type: none;
    display: inline;
    padding:10px 20px;
    border-right: 1px solid;
    border-left: 1px solid;
}

#menubar a{
    text-decoration: none;
    color:dimgray;
    font-size: 12px;
}

#container{
    padding:15px 30px;
}

.theheadings{
    background-color: #F4C300;
    padding:6px;
    font-size: 15px;
}

#about{
    display:inline-block;
    vertical-align: top;
    margin: 0 0 0 5px;
    width:510px;
    height:259px;
}

#pic{
    display:inline-block;
    margin: 0 5px 0 0;
}

#paragraphs{
    padding:23px;
    background-color: #323232;
    font-size: 13px;
    color:white;
}
#gap{
    color: #858F46;
    font-size: 12px;
    margin: 10px 0 5px 60px;
}

#sections > div{
    display:inline-block;
    vertical-align: top;
}

#section1{
    width:215px;
    margin: 0 5px 0 0;
    height: 260px;
    background-color: white;
}

#section2{
    width:215px;
    margin: 0 5px;
    height: 260px;
    background-color: white;
}

#section3{
    width:215px;
    margin: 0 5px;
    height: 260px;
    background-color: white;
}

#section4{
    width:215px;
    margin: 0 0 0 5px;
    height: 260px;
    background-color: white;
}

#sections > div > img:not(.readmorebutton){
    width: 100%;
    height: auto;
}

.classpara{
    color:black;
    font-size: 12px;
    padding:13px;
    height: 60px;
}

.readmorebutton{
    width:50%;
    margin:0 0 0 100px;
}