html body{
    width:970px;
    margin:0 auto;
}

#container{
    background-color: black;
}

#header{
    background-color: whitesmoke;
    padding: 0 30px;
}

#phonenumber{
    font-size: 20px;
    display: inline-block;
    margin-left: 250px;
    vertical-align: 100%;
}

#menubar ul li{
    list-style-type: none;
    display: inline;
    padding:10px 20px;
    border-right: 1px solid;
    border-left: 1px solid;
}

#menubar a{
    text-decoration: none;
    color:dimgray;
    font-size: 12px;
}