html body{
    width:970px;
    margin:0 auto;
}

#container{
    background-color: black;
}

#header{
    background-color: #EEEEEE;
    padding: 0 30px;
}

#phonenumber{
    font-size: 20px;
    display: inline-block;
    margin-left: 250px;
    vertical-align: 100%;
}

#menubar ul li{
    list-style-type: none;
    display: inline;
    padding:10px 20px;
    border-right: 1px solid;
    border-left: 1px solid;
}

#menubar a{
    text-decoration: none;
    color:dimgray;
    font-size: 12px;
}

#container{
    padding:15px 30px;
}

.theheadings{
    background-color: #F4C300;
    padding:6px;
    font-size: 15px;
}

#about{
    display:inline-block;
    vertical-align: top;
    margin: 0 0 0 5px;
    width:510px;
    height:259px;
}

#pic{
    display:inline-block;
    margin: 0 5px 0 0;
}

#paragraphs{
    padding:23px;
    background-color: #323232;
    font-size: 13px;
    color:white;
}